<h1>The companies are</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Details</th>
            <th>Overall Score</th>
            <th>Industry</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (company of companies) {
        const name = company.company_name;
        const overall_score = company.overall_score;
        const industry = company.industry;
        const country = company.country;

         %>
      <tr class="mb-2"> 
        <td><%= name %></td>
        <td>
            <a href="/companies/show/<%=company.company_id %>">
            <%=  name %>

            </a>
        </td>

        <td>
            <strong><%= overall_score %></strong>
        </td>

        <td>
            <%=industry %>
        </td>

        <td>
            <%= country %>
        </td>
         <!-- <%= JSON.stringify(company.times) %> <br> -->
        
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(companies,null,5) %> 
    -->
</pre>