<!--info about urls: https://www.w3schools.com/html/html_links.asp-->
<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <strong><%= course.company_name %></strong>
    </div>
    <div class="mb-1">
       <br>
       <%=course.description %>
       <br>
       <br>
       Website:
       <a href="https://<%=  course.website %>">
           <%=  course.website %>
    </a>
    </div>

</div>

<hr>

<!--<pre>
    <%= JSON.stringify(course,null,5) %>
</pre>
-->