<h1>The courses are</h1>
Here we want a ul list with the instructor, coursenum, title, term
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Details</th>
            <th>Overall Score</th>
            <th>Industry</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const name = course.company_name;
        const overall_score = course.overall_score;
        const industry = course.industry;
        const country = course.country;

         %>
      <tr class="mb-2"> 
        <td><%= name %></td>
        <td>
            <a href="/courses/show/<%=course.company_id %>">
            <%=  name %>

            </a>
        </td>

        <td>
            <strong><%= overall_score %></strong>
        </td>

        <td>
            <%=industry %>
        </td>

        <td>
            <%= country %>
        </td>
         <!-- <%= JSON.stringify(course.times) %> <br> -->
        
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>